@import "libs";
@import "vars";
@import "mixins";
@import "fonts";
@import "reset";

html {
}

body {
	background-color: #EDF8FD;

	&.open {
		overflow: hidden;
		padding-right: 17px;
	}
}

.full_container_react {

	& *, & *:before, & *:after { box-sizing: border-box; }

	width: 100%;
	flex: 0 0 auto;
	position: relative;
	margin: 0 auto;
	max-width: $desktopWidth;
	padding-left: $padding_full_container;
	padding-right: $padding_full_container;
	line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
	font-family: $mainFont;

	@media screen and (max-width: $desktopWidth) {
		font-size: 12px;
	}
	@media screen and (max-width: $tableWidth) {
		font-size: 11px;
	}
	@media screen and (max-width: $phoneWidth) {
		font-size: 10px;
	}


	.container_price {
		
		&>h1 {
			font-size: $headerPriceFontSize;
			font-weight: $headerPriceFontWeight;
			color: $mainFontColor;
			text-align: center;
			padding: 33px 10px;
			line-height: 29px;
		}

	}
}




