// Font
$mainFont                : 'Ubuntu', sans-serif !important;

// Size
$mainFontColor           : #333;
$mainFontSize            : 14px;
$ButtonsizeFontSize      : 20px;
$headerPriceFontSize     : 33px;
$headerPriceFontWeight   : bold;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;
$listTitlePriceFontSize  : 23px;
$PriceHeadSizeWidth      : 20px;
$PriceButtonWSizeWidth   : 4.3rem;
$MarginRightButton       : 0.4rem;

//Metrik

$desktopWidth            : 1170px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;
$padding_full_container  : 15px;
$list-title-num-size     : 30px;
$borderButtoWidthColor   : 1px solid #00bfe9;
$bgButtoWidthColor       : #fff;
$WidthColor              : #000;


// Main color
$default-color           : #ffffff;
$list-title-num-color    : #ffffff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;
$grun-color              : #26BE37;
